<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="~{/fragments/resources :: head}"></th:block>
    <title>Photo list</title>
</head>
<body>
<header>
    <nav th:replace="~{/fragments/navbar :: navbar('index')}"></nav>
</header>
<div class="container ms_header-margin">
    <th:block th:if="${message}">
            <div class="alert alert-dismissible fade show my-4"
                 th:classAppend="${#strings.equals(message.type, 'SUCCESS')} ? alert-info : alert-danger">
                <div th:text="${message.message}"></div>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
    </th:block>

    <div class="row">
        <div class="col-8">
            <h1>All photos</h1>
        </div>
        <div class="col-4 d-flex align-items-center justify-content-end">
            <a th:href="@{/photos/create}" class="btn btn-outline-dark align-middle">
                <i class="fa-solid fa-plus me-1"></i>
                Add photo</a>
        </div>
    </div>

    <div class="text-center fs-2 rounded border border-2 border-dark" th:if="${photos.size()} == 0">No photos
        present.
    </div>

    <table th:unless="${photos.size()} == 0" class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#PhotoId</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Thumbnail</th>
            <th scope="col"></th>
        </tr>
        </thead>

        <tbody class="table-group-divider">
        <tr th:each="photo : ${photos}" th:object="${photo}">
            <th scope="row" th:text="*{id}"></th>
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td class="align-middle">
                <a th:href="@{|/photos/*{id}|}">
                    <img th:src="${photo.url}" class="ms_thumb-limits">
                </a>
            </td>
            <td class="align-middle">
                <div class="d-flex flex-column p-2 fs-4 text-center">
                    <a th:href="@{|/photos/edit/*{id}|}" th:title="'Modify ' + *{title}">
                        <i class="fa-solid fa-pen-fancy py-2"></i>
                    </a>
                    <a <a th:href="@{|/photos/delete/*{id}|}" th:title="'Delete ' + *{title}">
                    <i class="fa-solid fa-x py-2"></i>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>