<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <th:block th:replace="~{/fragments/resources :: head}"></th:block>
    <title th:text="${photo.title}"></title>
</head>
<body>
<header>
    <nav th:replace="~{/fragments/navbar :: navbar('index')}"></nav>
</header>

<div class="container ms_header-margin text-center">
    <div class="row">
        <h1 th:text="${photo.title}"></h1>
        <div class="col-8">
            <img class="ms_image-height-limit-600" th:src="${photo.url}">
        </div>

        <div class="col-4 d-flex flex-column justify-content-between">
            <section class="ms_text-content">
                <h4>Description</h4>
                <p th:text="${photo.description}"></p>
            </section>

            <section class="ms_actions fs-3">
                <a th:href="@{/photos}">
                    <i class="fa-solid fa-caret-left me-1"></i>
                    Back</a>
            </section>
        </div>
    </div>
</div>

</body>
</html>